<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ustc.iot.dao.SensorMapper">
    <resultMap id="BaseResultMap" type="edu.ustc.iot.pojo.component.Sensor">
        <id column="id" property="id"/>
        <result column="model" property="model"/>
        <result column="frequencyBand" property="frequencyBand"/>
        <result column="lowTemperature" property="lowTemperature"/>
        <result column="highTemperature" property="highTemperature"/>
        <result column="speed" property="speed"/>
        <result column="lowVoltage" property="lowVoltage"/>
        <result column="highVoltage" property="highVoltage"/>
        <result column="electric" property="electric"/>
        <result column="company" property="company"/>
        <result column="interfaceDesc" property="interfaceDesc"/>
        <result column="desc" property="desc"/>
    </resultMap>
    <sql id="Base_Column_List">
     id,name,model,frequencyBand,lowTemperature,
     highTemperature,speed,lowVoltage,
     highVoltage,Electric,company,
     interfaceDesc,desc,
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sensor
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteComponentById" parameterType="java.lang.Integer">
    delete from sensor
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--    待改-->
    <select id="selectByExample" parameterType="edu.ustc.iot.pojo.component.Sensor" resultMap="BaseResultMap"></select>
    <insert id="insert" parameterType="edu.ustc.iot.pojo.component.Component">
    insert into component (id, name, type ,company,description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{type,jdbcType=INTEGER}, #{company,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="edu.ustc.iot.pojo.component.Component">
    update component
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      company = #{company,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from component
    </select>
</mapper>
